<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TechLineCaseAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <!--
  <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://111.222.333.444:80"/>
    </defaultProxy>
  </system.net>-->
  <!--
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://10.146.0.7:8080"  bypassonlocal="True"  usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="1048576" executionTimeout="3600"  />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />

        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers >
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--      <add name="mmthapiEntities" connectionString="metadata=res://*/Model.mmthapi.csdl|res://*/Model.mmthapi.ssdl|res://*/Model.mmthapi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.146.138.167;initial catalog=TECHLINECRM;persist security info=True;user id=mtle;password=TpjD#NL8YhtLHOor5ARa2i15zFo8c;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->  
    <add name="mmthapiEntities" connectionString="metadata=res://*/Model.mmthapi.csdl|res://*/Model.mmthapi.ssdl|res://*/Model.mmthapi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=phoebe.hms-cloud.com;initial catalog=mmthapi;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!-- 
  <add name="mmthapiEntities" connectionString="metadata=res://*/Model.mmthapi.csdl|res://*/Model.mmthapi.ssdl|res://*/Model.mmthapi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.146.138.167;initial catalog=techlinecrm;persist security info=True;user id=mtle;password=TpjD#NL8YhtLHOor5ARa2i15zFo8c;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <TechLineCaseAPI.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value>ad-mmth\crmapp</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>P@$$w0rd</value>
      </setting>
      <setting name="adfs_url_MMTH" serializeAs="String">
        <value>https://tha-adfsqa.mmthqa.com/adfs/oauth2/token</value>
      </setting>
      <setting name="ConStringHMS" serializeAs="String">
        <value>Server=phoebe.hms-cloud.com;Database=mmthapi;user id=sa;password=pass@word1;</value>
      </setting>
      <setting name="ConString" serializeAs="String">
        <value>Server=phoebe.hms-cloud.com;Database=mmthapi;user id=sa;password=pass@word1;</value>
      </setting>
      <setting name="RO_WS" serializeAs="String">
        <value>http://pre-mmth.dms-ccp.com/WS_InterfaceCRM/WS_InterfaceCRM.asmx?op=WSCheckHistoryRO</value>
      </setting>
      <setting name="client_id_HMS" serializeAs="String">
        <value>00b67d18-32a3-4a69-9fe7-6613c969a0b7</value>
      </setting>
      <setting name="adfs_url_HMS" serializeAs="String">
        <value>https://phoebe.hms-cloud.com/adfs/oauth2/token</value>
      </setting>
      <setting name="client_id_MMTH" serializeAs="String">
        <value>64cad534-b380-4ac3-8732-00d293c691b4</value>
      </setting>
      <setting name="WS_InterfaceCRMSoap" serializeAs="String">
        <value>http://pre-mmth.dms-ccp.com/WS_InterfaceCRM/WS_InterfaceCRM.asmx</value>
      </setting>
      <setting name="ConStringMMTH" serializeAs="String">
        <value>Server=10.146.138.167;Database=TECHLINECRM;user id=mtle;password=TpjD#NL8YhtLHOor5ARa2i15zFo8c;</value>
      </setting>
      <setting name="SoapOrgServiceUri" serializeAs="String">
        <value>https://thcrmweb01.ad-mmth.th.mitsubishi-motors.com/mmthqas/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="DEV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Authorization" serializeAs="String">
        <value>key=AAAA5Hpr2b4:APA91bFVRrUv7aDjXbYknpRxcDKiI5XJHVo0y979WSAwL7WEr5BTX5LfZ0SBLvjmS9W2tmRXjgq1M7JqoUcuQuPp2BmIQU14aVMqtGBVJBzs81r6gs9JTOsxIqG6EnjjkzmRypGsmF8m</value>
      </setting>
      <setting name="fcmsend" serializeAs="String">
        <value>https://fcm.googleapis.com/fcm/send</value>
      </setting>
      <setting name="HMSUserName" serializeAs="String">
        <value>hms-cloud\administrator</value>
      </setting>
      <setting name="HMSPassword" serializeAs="String">
        <value>pass@word1</value>
      </setting>
      <setting name="HMSSoapOrgServiceUri" serializeAs="String">
        <value>http://phoebe.hms-cloud.com:5555/mmthqas/XRMServices/2011/Organization.svc</value>
      </setting>
    </TechLineCaseAPI.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_InterfaceCRMSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WS_InterfaceCRMSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      
    </bindings>
    <client>
      <endpoint address="http://pre-mmth.dms-ccp.com/WS_InterfaceCRM/WS_InterfaceCRM.asmx" binding="basicHttpBinding" bindingConfiguration="WS_InterfaceCRMSoap" contract="MMThApi.WS_InterfaceCRMSoap" name="WS_InterfaceCRMSoap" />
      <endpoint address="http://pre-mmth.dms-ccp.com/WS_InterfaceCRM/WS_InterfaceCRM.asmx" binding="customBinding" bindingConfiguration="WS_InterfaceCRMSoap12" contract="MMThApi.WS_InterfaceCRMSoap" name="WS_InterfaceCRMSoap12" />
    </client>
  </system.serviceModel>
</configuration>